<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.m2doc.genconf.design.Activator"
               id="org.obeonetwork.m2doc.genconf.design"
	       name="genconf">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.ui.siriuspropertiescelleditor">
     <provider
           class="org.obeonetwork.m2doc.genconf.design.celleditor.URIDialogCellEditorProvider">
     </provider>
  </extension>
</plugin>
