<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.commands">
   <command
         id="org.obeonetwork.m2doc.sirius.ui.generateWithTemplateLibrary"
         name="M2Doc Generate with Template Library">
   </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.obeonetwork.m2doc.sirius.ui.command.GenerateWithTemplateLibrary"
            commandId="org.obeonetwork.m2doc.sirius.ui.generateWithTemplateLibrary">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.obeonetwork.m2doc.sirius.ui.generateWithTemplateLibrary"
               icon="icons/m2doc.gif"
               label="M2Doc Generate with Template Library"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <test
                              forcePluginActivation="true"
                              property="org.obeonetwork.m2doc.sirius.ui.property.hasLibraryTemplate">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.obeonetwork.m2doc.sirius.ui.propertyTester.TemplatePropertyTester"
            id="org.obeonetwork.m2doc.sirius.ui.property"
            namespace="org.obeonetwork.m2doc.sirius.ui.property"
            properties="hasLibraryTemplate"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
