<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.m2doc.sirius.sample.ecore.design.Activator"
               id="org.obeonetwork.m2doc.sample.ecore.design"
	       name="ecore">
    </component>
  </extension>
</plugin>
