<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.m2doc.ide.servicesConfigurator">
      <servicesConfigurators
            class="org.obeonetwork.m2doc.html.ide.HTMLServicesConfigurator">
      </servicesConfigurators>
   </extension>

</plugin>
