<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="M2Doc 2022-12 Target Platform" sequenceNumber="1733240840">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
      <repository id="Eclipse-Shared-License" location="https://download.eclipse.org/cbi/updates/license"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.ui" version="0.0.0"/>
      <unit id="org.eclipse.ui.views.log" version="0.0.0"/>
      <unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.junit" version="4.13.2.v20211018-1956"/>
      <unit id="org.eclipse.gmf" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui" version="0.0.0"/>
      <unit id="org.eclipse.gmf.runtime.diagram.ui.render" version="0.0.0"/>
      <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
      <unit id="org.w3c.dom.svg" version="0.0.0"/>
      <unit id="org.w3c.dom.smil" version="0.0.0"/>
      <unit id="org.w3c.css.sac" version="0.0.0"/>
      <unit id="org.eclipse.uml2.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.sirius" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram" version="0.0.0"/>
      <unit id="org.eclipse.sirius.diagram.ui" version="0.0.0"/>
      <unit id="org.eclipse.sirius.table" version="0.0.0"/>
      <unit id="org.eclipse.sirius.table.ui" version="0.0.0"/>
      <unit id="org.eclipse.sirius.runtime.ide.ui.feature.group" version="0.0.0"/>
      <unit id="org.apache.xerces" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.acceleo.query.source.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.mylyn.wikitext" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.asciidoc" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.confluence" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.html" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.markdown" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.mediawiki" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.textile" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.tracwiki" version="3.0.42.20220107230029"/>
      <unit id="org.eclipse.mylyn.wikitext.twiki" version="3.0.42.20220107230029"/>
      <repository id="Eclipse" location="https://download.eclipse.org/releases/2022-12"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.batik.ext" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.codec" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.bridge" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.script" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.transcoder" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.util" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.constants" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.dom" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.css" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.gvt" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.anim" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.i18n" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.dom.svg" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.xml" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.parser" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.awt.util" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.svggen" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.xmlgraphics" version="2.7.0.v20221018-0736"/>
      <repository id="Orbit-202212" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20221123021534/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.kohsuke.args4j" version="2.0.21.v201301150030"/>
      <unit id="javax.servlet" version="3.1.0.v201410161800"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190827152740/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.poi.feature.feature.group" version="0.0.0"/>
      <unit id="org.antlr.runtime" version="4.7.2.v20221112-9999"/>
      <repository id="ObeoNetworkBits" location="https://obeo-networkaggregation-releases.s3.eu-west-1.amazonaws.com/bits/master/thirdparties"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.net4j.feature.group" version="0.0.0"/>
      <repository id="CDO" location="https://download.eclipse.org/modeling/emf/cdo/updates/releases/4.7/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.29.0.v20221121-1054"/>
      <repository id="XText" location="https://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.29.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rcptt.platform.feature.group" version="0.0.0"/>
      <repository location="https://download.eclipse.org/rcptt/release/2.5.4/repository"/>
    </location>
  </locations>
</target>
