<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.acceleo.query.ide.servicesConfigurator">
      <servicesConfigurators
            class="org.obeonetwork.m2doc.wikitext.services.WikiTextServicesConfigurator"
            language="org.obeonetwork.m2doc">
      </servicesConfigurators>
   </extension>

</plugin>
