<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.obeonetwork.m2doc.ide.services.register">
      <token
            name="test token">
         <service
               class="org.obeonetwork.m2doc.ide.tests.services.TestServiceClass1">
         </service>
         <service
               class="org.obeonetwork.m2doc.ide.tests.services.TestServiceClass2">
         </service>
         <package
               uri="http://www.obeonetwork.org/m2doc/template/1.0">
         </package>
         <package
               uri="http://www.eclipse.org/emf/2002/Ecore">
         </package>
      </token>
   </extension>
   <extension
         point="org.obeonetwork.m2doc.ide.templates.register">
      <template
            name="Test template"
            uri="platform://plugin/org.obeonetwork.m2doc.ide.tests/resources/test-template.docx">
      </template>
   </extension>

</plugin>
