<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.obeonetwork.m2doc.launcher.M2DocLauncher"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.obeonetwork.m2doc.launcher.internal.M2DocLauncher">
         </run>
      </application>
   </extension>
   <extension
         id="M2DocLauncherProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.obeonetwork.m2doc.launcher.M2DocLauncher"
            name="m2doc">
         <property
               name="appName"
               value="m2doc">
         </property>
      </product>
   </extension>
   

</plugin>
