<?xml version="1.0" encoding="UTF-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal</Template><TotalTime>28</TotalTime><Application>LibreOffice/7.3.7.2$Linux_X86_64 LibreOffice_project/30$Build-2</Application><AppVersion>15.0000</AppVersion><Pages>1</Pages><Words>18</Words><Characters>110</Characters><CharactersWithSpaces>124</CharactersWithSpaces><Paragraphs>5</Paragraphs></Properties>