<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2016 Obeo. 
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
      
      Contributors:
          Obeo - initial API and implementation
     
 -->

<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Generate Documentation Command"
            id="org.obeonetwork.m2doc.ui.generateDocumentation">
      </command>
      <command
            name="Initialize Configurations Command"
            id="org.obeonetwork.m2doc.ui.initializeConfigurations">
      </command>
      <command
            name="Validate Template Command"
            id="org.obeonetwork.m2doc.ui.validate">
      </command>
      <command
            description="Configure variables and meta-model URIs in an M2Doc template"
            id="org.obeonetwork.m2doc.ui.configure.template"
            name="Configure Variables and URIs">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.obeonetwork.m2doc.ui.generateDocumentation"
            class="org.obeonetwork.m2doc.ui.command.GenerateHandler">
      </handler>
      <handler
            commandId="org.obeonetwork.m2doc.ui.initializeConfigurations"
            class="org.obeonetwork.m2doc.ui.command.InitializeConfigurationsHandler">
      </handler>
      <handler
            commandId="org.obeonetwork.m2doc.ui.validate"
            class="org.obeonetwork.m2doc.ui.command.ValidateHandler">
      </handler>
      <handler
            class="org.obeonetwork.m2doc.ui.command.ConfigureTemplateHandler"
            commandId="org.obeonetwork.m2doc.ui.configure.template">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.obeonetwork.m2doc.ui.generateDocumentation"
               icon="icons/m2doc.gif"
               label="Generate Documentation"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                 <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                         <test
                               forcePluginActivation="true"
                               property="org.obeonetwork.m2doc.ui.testGeneration">
                        </test>
                     </iterate>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.obeonetwork.m2doc.ui.initializeConfigurations"
               icon="icons/m2doc_init.png"
               label="Initialize Documentation Configurations"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                         <test
                               forcePluginActivation="true"
                               property="org.obeonetwork.m2doc.ui.testTemplate">
                        </test>
                     </iterate>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.obeonetwork.m2doc.ui.validate"
               icon="icons/m2doc_validate.png"
               label="Validate Documentation Template"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                         <test
                               forcePluginActivation="true"
                               property="org.obeonetwork.m2doc.ui.testGeneration">
                        </test>
                     </iterate>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.obeonetwork.m2doc.ui.configure.template"
               icon="icons/m2doc_init.png"
               label="Configure Variables and Meta-Model URIs"
               style="push"
               tooltip="Configure variables and meta-model URIs in an M2Doc template">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <test
                           forcePluginActivation="true"
                           property="org.obeonetwork.m2doc.ui.testTemplate">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.obeonetwork.m2doc.ui.propertyTester.GenerationPropertyTester"
            id="org.obeonetwork.m2doc.ui.testGeneration"
            namespace="org.obeonetwork.m2doc.ui"
            properties="testGeneration"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.obeonetwork.m2doc.ui.propertyTester.TemplatePropertyTester"
            id="org.obeonetwork.m2doc.ui.testTemplate"
            namespace="org.obeonetwork.m2doc.ui"
            properties="testTemplate"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
