<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2016 Obeo. 
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
      
      Contributors:
          Obeo - initial API and implementation
     
 -->

<plugin>
   <extension
         point="org.obeonetwork.m2doc.services.register">
      <service
            serviceClass="org.obeonetwork.database.wgen.services.AbstractTableServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.ColumnServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.ConstraintServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.DataBaseElementServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.DataBaseServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.ForeignKeyElementServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.ForeignKeyServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.IndexElementServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.IndexServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.NamedElementServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.PrimaryKeyServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.SequenceServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.TableContainerServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.TableServiceHolder"
            serviceToken="default">
      </service>
      <service
            serviceClass="org.obeonetwork.database.wgen.services.ViewServiceHolder"
            serviceToken="default">
      </service>
   </extension>
</plugin>
