<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
     Copyright (c) 2016 Obeo. 
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
      
      Contributors:
          Obeo - initial API and implementation
     
 -->

<!--
-->

<plugin>
   <extension-point id="org.obeonetwork.m2doc.providers.register" name="M2Doc Provider Register" schema="schema/org.obeonetwork.m2doc.providers.register.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Template -->
      <package
            uri="http://www.obeonetwork.org/m2doc/template/1.0"
            class="org.obeonetwork.m2doc.template.TemplatePackage"
            genModel="model/Template.genmodel"/>
   </extension>

</plugin>
