<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
     Copyright (c) 2016 Obeo. 
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
      
      Contributors:
          Obeo - initial API and implementation
     
 -->

<plugin>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.obeonetwork.m2doc.ide.ui.propertyTester.TemplatePropertyTester"
            id="org.obeonetwork.m2doc.ide.ui.testTemplate"
            namespace="org.obeonetwork.m2doc.ide.ui"
            properties="testTemplate"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.obeonetwork.m2doc.ide.ui.editor.M2DocTemplateEditor"
            icon="icons/m2doc.png"
            id="org.obeonetwork.m2doc.ide.ui.editor.M2DocTemplateEditor"
            name="M2Doc Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.obeonetwork.m2doc.ide.ui.importCategory"
            name="M2Doc">
      </category>
      <wizard
            category="org.obeonetwork.m2doc.ide.ui.importCategory"
            class="org.obeonetwork.m2doc.ide.ui.wizard.ImportTemplateWizard"
            icon="icons/m2doc.gif"
            id="org.obeonetwork.m2doc.ide.ui.importTemplate"
            name="Import Template">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.obeonetwork.m2doc.ide.ui.newCategory"
            name="M2Doc">
      </category>
   </extension>

</plugin>
