<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.obeonetwork.m2doc.word.addin.ide.ui.preferences.AddInPreferencePage"
            id="org.obeonetwork.m2doc.word.addin.ide.ui.addinPage"
            name="M2Doc add-in">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.obeonetwork.m2doc.word.addin.ide.ui.preferences.AddInPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
